<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Trang chủ</title>
    <th:block th:replace="layout/base :: styles"></th:block>
</head>
<body>
<div th:replace="layout/header :: header"></div>

<section class="container mt-5">
    <h1 class="text-center mb-4">Login</h1>

    <!-- Thông báo nếu người dùng đã đăng nhập -->
<!--    <div th:if="${currentUser != null}" class="alert alert-success text-center">-->
<!--        <strong>Xin chào, <span th:text="${currentUser.firstName} + ' ' + ${currentUser.lastName}"></span>!</strong>-->
<!--    </div>-->
</section>


<div th:replace="layout/footer :: footer"></div>

<!--    <script th:src="@{/js/main.js}"></script>-->
</body>
</html>